# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

#all .ipynb files
*.ipynb